# Assignment Day2

# Question 1
Try 5 Different functions of the String in Python.
 For example - index, split function.

In [2]:
name = "Pooja Dhakane"

In [3]:
name

'Pooja Dhakane'

In [4]:
name.isalpha()             #Alphanumeric

False

In [5]:
name_1 ="Pooja"
name_2 = "Dhakane"

In [6]:
name_1

'Pooja'

In [7]:
name_2

'Dhakane'

In [9]:
name_3 = name_1 + " "+ name_2      #Concatenation
print(name_3)

Pooja Dhakane

In [13]:
name_3=name_3.upper()            #Upper
print(name_3)

POOJA DHAKANE

In [14]:
name_1 = name_1.lower()           #Lower
print(name_1)

pooja

In [15]:
name_3.islower()                 # is Lower

False

In [18]:
name_3.isupper()                # is Upper

True

# Question 2
Try 5 Different functions of the List object in Python

In [19]:
Litt = ["Maths","Chemestry","Prachi",1999, 13.5,2000]

In [20]:
Litt

['Maths', 'Chemestry', 'Prachi', 1999, 13.5, 2000]

In [25]:
Litt.append(2002)                              #APPEND
print(Litt)

['Maths', 'Chemestry', 'Prachi', 1999, 13.5, 2000, 2002]

In [35]:
List1 = [1,2,3]

In [36]:
List1

[1, 2, 3]

In [37]:
List2 = [4,5,6,7]

In [38]:
List2

[4, 5, 6, 7]

In [39]:
List1.extend(List2)             #EXTEND

In [40]:
print(List1)

[1, 2, 3, 4, 5, 6, 7]

In [41]:
print(sum(List1))           #SUM

28

In [43]:
print(List1.count(2))             #COUNT

1

In [44]:
print(len(List1))            #length

7

In [45]:
print(min(List1))             #Minimum

1

# Question 3
Experiment with at least 5 default functions of Dictionary

In [60]:
my_dict = {'name':'Pooja','age':23,'Address':'Pune'}

In [50]:
my_dict

{'name': 'Pooja', 'age': 23, 'Address': 'Pune'}

In [52]:
my_dict['age']= 22                    #UPDATE
print(my_dict)

{'name': 'Pooja', 'age': 22, 'Address': 'Pune'}

In [53]:
my_dict['Phone']='12345'                #Add Item
print(my_dict)

{'name': 'Pooja', 'age': 22, 'Address': 'Pune', 'Phone': '12345'}

In [61]:
print(my_dict.pop('name'))

Pooja

In [62]:
print(my_dict)                    #Pop

{'age': 23, 'Address': 'Pune'}

In [64]:
my_dict.clear()          #CLEAR

In [65]:
print(my_dict)

{}

In [72]:
Dict_2 = {1:1,2:4,3:9,4:16}

In [74]:
Dict_2

{1: 1, 2: 4, 3: 9, 4: 16}

In [76]:
print(len(Dict_2))                       #LENGTH

4